<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% seo %}
  <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="#" />
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="wrapper">
    {% include header.html %}
    <section>
      {{ content }}
    </section>
  </div>
  <footer>
    <p>
      <small>I have some <a href="https://github.com/slamont/">public repositories</a> hosted on GitHub as well</small>
    </p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
</body>
</html>
